<!-- #region Grounding TAB -->
<!--Panel 10-->
<script type="text/javascript">

    function SaveGroundingDataAudit() {
        if (PM_Data.checkListGrounding == null) {
            PM_Data.checkListGrounding = new Object();
        }
        //if (!validateRequiredInput('#checklist_grounding')) {
        //    return false;
        //}

        PM_Data.checkListGrounding.Earthing_value = $('#txt_earthing_value_grounding').val();
        PM_Data.checkListGrounding.Earth_Pit_Plates_Count = $('#txt_no_of_earth_pit_plates_grounding').val();
        PM_Data.checkListGrounding.Main_Grounding_Cable_Available = $('#dd_main_grounding_cable_grounding').val();
        PM_Data.checkListGrounding.DG_Canopy_Ground = $('#dd_dg_canopy_ground_grounding').val();
        PM_Data.checkListGrounding.AC_Distribution_Board = $('#dd_ac_distribution_board_grounding').val();
        PM_Data.checkListGrounding.ATS_Grounded = $('#dd_ats_grounded_grounding').val();
        PM_Data.checkListGrounding.Main_Circuit_Breaker = $('#dd_main_circuit_breaker_grounding').val();
        PM_Data.checkListGrounding.Tower = $('#dd_tower_grounding').val();
        PM_Data.checkListGrounding.Rectifier = $('#dd_rectifier_grounding').val();
        PM_Data.checkListGrounding.BTS_Cabinet = $('#dd_bts_cabinet_grounding').val();


        ApiCallService.Ajax('@System.Configuration.ConfigurationManager.AppSettings["ApiPath"]', "api/PreventiveMaintenance/SaveGroundingChecklistDataAudit", PM_Data, OnSuccessSaveGrounding, "POST", false)
    }

    function OnSuccessSaveGrounding(res) {
        debugger;
        if (res == "success") {
            alertify.alert("Success","Data has been updated successfully.");
        }
        else {
            alertify.alert("Alert","Failed.");
        }
    }


</script>

<div class="tab-pane fade in" id="panel10" role="tabpanel">
    <div class="container tab_body tab-margin tab_non_telco" id="checklist_grounding">

        <!-- #region Earting Value and Earth Pit Plates -->
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="form-inline form-group mylabelstyle">
                    <label> Earthing value (Volts)</label>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
               <div class="form-group myinput">
                    <input type="text" class="form-control " id="txt_earthing_value_grounding">
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="form-inline form-group mylabelstyle">
                    <label> No. of Earth Pit Plates</label>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="myinput" >
                    <input type="text" class="form-control " id="txt_no_of_earth_pit_plates_grounding">
                </div>
            </div>
        </div>
        <!--#endregion-->
        <!-- #region Main Grounding Cable and DG Canopy Ground-->

        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="form-inline form-group mylabelstyle">
                    <label>Main Grounding Cable Available</label>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <select class="form-control mydropdown " id="dd_main_grounding_cable_grounding">
                        <option value="" disabled selected hidden>Select ..</option>
                        <option>YES</option>
                        <option>NO</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="form-inline form-group mylabelstyle">
                    <label> DG Canopy Ground</label>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <select class="form-control mydropdown " id="dd_dg_canopy_ground_grounding">
                        <option value="" disabled selected hidden>Select ..</option>
                        <option>YES</option>
                        <option>NO</option>
                    </select>
                </div>
            </div>
        </div>
        <!--#endregion-->
        <!-- #region AC Distribution Board and ATS Grounded -->

        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="form-inline form-group mylabelstyle">
                    <label>AC Distribution Board(DB)</label>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <select class="form-control mydropdown " id="dd_ac_distribution_board_grounding">
                        <option value="" disabled selected hidden>Select ..</option>
                        <option>YES</option>
                        <option>NO</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="form-inline form-group mylabelstyle">
                    <label> ATS Grounded</label>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <select class="form-control mydropdown " id="dd_ats_grounded_grounding">
                        <option value="" disabled selected hidden>Select ..</option>
                        <option>YES</option>
                        <option>NO</option>
                    </select>
                </div>
            </div>
        </div>
        <!--#endregion-->
        <!-- #region Main Circuit Breaker and Tower -->

        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="form-inline form-group mylabelstyle">
                    <label>Main Circuit Breaker(MCB)</label>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <select class="form-control mydropdown " id="dd_main_circuit_breaker_grounding">
                        <option value="" disabled selected hidden>Select ..</option>
                        <option>YES</option>
                        <option>NO</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="form-inline form-group mylabelstyle">
                    <label> Tower</label>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <select class="form-control mydropdown " id="dd_tower_grounding">
                        <option value="" disabled selected hidden>Select ..</option>
                        <option>YES</option>
                        <option>NO</option>
                    </select>
                </div>
            </div>
        </div>
        <!--#endregion-->
        <!-- #region Rectifier and BTS Cabinet -->

        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="form-inline form-group mylabelstyle">
                    <label>Rectifier</label>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <select class="form-control mydropdown " id="dd_rectifier_grounding">
                        <option value="" disabled selected hidden>Select ..</option>
                        <option>YES</option>
                        <option>NO</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="form-inline form-group mylabelstyle">
                    <label> BTS Cabinet</label>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <select class="form-control mydropdown " id="dd_bts_cabinet_grounding">
                        <option value="" disabled selected hidden>Select ..</option>
                        <option>YES</option>
                        <option>NO</option>
                    </select>
                </div>
            </div>
        </div>
        <!--#endregion-->
        <button id="save_grounding" name="save_grounding" onclick="SaveGroundingDataAudit()" class="btn btn-primary mybutton">Save</button>
    </div>
</div>


<!--/.Panel 10-->
<!-- #endregion -->

