<!-- #region RMS TAB -->
<!--Panel 26-->

<script type="text/javascript">
    $(document).ready(function () {
        $("#txt_lock_date_inventory").datepicker();
        
    });
    function SaveRMSData() {
        if (!validateRequiredInput('#div_inventory_rms')) {
            return false;
        }
        else {
            Inventory_Data.RMS_Installed = $('#dd_rms_installed_inventory').val();
            Inventory_Data.RMS_status = $('#txt_rms_status_inventory').val();
            Inventory_Data.RMS_Vendor = $('#txt_rms_vendor_inventory option:selected').val();
            Inventory_Data.Fuel_Sensor_Installed = $('#dd_fuel_sensor_installed_inventory').val();
            Inventory_Data.Energy_Meter_Installed = $('#dd_energy_meter_installed_inventory').val();
            Inventory_Data.Deodar_NonDeodar = $('#dd_deodar_nondeodar_inventory option:selected').val();
            Inventory_Data.OnAirDate = $('#txt_lock_date_inventory').val();
            Inventory_Data.UpdateSection = "RMS";
            ApiCallService.Ajax('@System.Configuration.ConfigurationManager.AppSettings["ApiPath"]',"api/InventoryManagement/SaveInventoryDetails", Inventory_Data, OnSuccessSaveRMSData, "POST", false)
        }
    }
    function OnSuccessSaveRMSData(res) {

        if (res == "success") {
            alertify.alert('Success', 'Data has been updated successfully.')
          //  GetInventoryData();
        }
        else {
            alertify.alert('Alert', 'Failed.')
        }
    }

 
</script>
<div class="tab-pane fade in" id="panel26" role="tabpanel">
    <div class="container tab_body tab-margin tab_inventory">
        <div id="div_inventory_rms">

            <!--#region RMS Installed and RMS Status -->
            <div class="row">
                <div class="col-md-3 col-sm-6 ">
                    <div class="form-inline form-group mylabelstyle">
                        <label> RMS Installed</label>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 ">
                    <div class="form-group">
                        <select class="form-control mydropdown" id="dd_rms_installed_inventory">
                            <option>INSTALLED</option>
                            <option selected>NOT INSTALLED</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 ">
                    <div class="form-inline form-group mylabelstyle">
                        <label> RMS status</label>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 ">
                    @*<div class="myinput form-group">
                        <input id="txt_rms_status_inventory" type="text" class="form-control ">
                    </div>*@
                    <div class="form-group">
                        <select class="form-control mydropdown" id="txt_rms_status_inventory">
                            <option>OK</option>
                            <option selected>NOT OK</option>
                        </select>
                    </div>
                </div>
            </div>
            <!--#endregion-->
            <!--#region RMS Vendor and Fuel Sensor Installed -->
            <div class="row">
                <div class="col-md-3 col-sm-6 ">
                    <div class="form-inline form-group mylabelstyle">
                        <label>RMS Vendor</label>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 ">
                    @*<div class="myinput form-group">
                        <input id="txt_rms_vendor_inventory" type="text" class="form-control ">
                    </div>*@
                    <div class="form-group">
                        <select class="form-control mydropdown" id="txt_rms_vendor_inventory">
                            <option value="NA" id="select_option_rms_vendor_inventory" disabled selected hidden>Select ..</option>
                            <option>HUAWEI</option>
                            <option>INNEXIVE</option>
                            <option>NA</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 ">
                    <div class="form-inline form-group mylabelstyle">
                        <label> Fuel Sensor Installed</label>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 ">
                    <div class="form-group">
                        <select class="form-control mydropdown" id="dd_fuel_sensor_installed_inventory">
                            <option>YES</option>
                            <option selected>NO</option>
                        </select>
                    </div>
                </div>
            </div>
            <!--#endregion-->
            <!--#region Energy Meter and Deodar/Non Deodar -->
            <div class="row">
                <div class="col-md-3 col-sm-6 ">
                    <div class="form-inline form-group mylabelstyle">
                        <label>Energy Meter Installed</label>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 ">
                    <div class="form-group">
                        <select class="form-control mydropdown" id="dd_energy_meter_installed_inventory">
                            <option>YES</option>
                            <option selected>NO</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 ">
                    <div class="form-inline form-group mylabelstyle">
                        <label> Deodar/ Non-Deodar</label>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 ">
                    <div class="form-group">
                        <select class="form-control mydropdown" id="dd_deodar_nondeodar_inventory">
                            <option value="NOT AVAILABLE" id="select_option_deodar_nondeodar_inventory" disabled selected hidden>Select ..</option>
                            <option>DEODAR</option>
                            <option>NON-DEODAR</option>
                            <option>NOT AVAILABLE</option>
                        </select>
                    </div>
                </div>
            </div>
            <!--#endregion-->
            <!--#region On-Air/Swap Date/Lock Date -->
            <div class="row">
                <div class="col-md-3 col-sm-6 ">
                    <div class="form-inline form-group mylabelstyle">
                        <label> On-Air/Swap Date/Lock Date </label>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 ">
                    <div class="myinput form-group">
                        <input id="txt_lock_date_inventory" readonly="readonly" type="text" class="form-control ">
                    </div>
                </div>
            </div>
            <!--#endregion-->
            <button id="save_rms_inventory" name="save_rms_inventory" onclick="SaveRMSData()" class="btn btn-primary mybutton">Save</button>
        </div>

    </div>
</div>




<!--/.Panel 26-->
<!-- #endregion -->
