
@{
    ViewBag.Title = "DgDetails";
    Layout = "~/Views/Shared/SideBar_Layout.cshtml";
}
@Scripts.Render("~/bundles/GlobalScripts")
<script>

    var tbl_ReportsGrid_checklist;

    $(document).ready(function () {

        GetSiteFilters();

        $("#txt_from_date_checklist").datepicker();
        $("#txt_to_date_checklist").datepicker();
        $(".date-pick").datepicker('setDate', new Date());

        tbl_ReportsGrid_checklist = $('#reportsgridview_checklist').DataTable({
            responsive: true,
            "sScrollX": "100%",
            "sScrollXInner": "100%",
            "bScrollCollapse": false,
            dom: 'Bfrtip',
            'autoWidth': true,
            'lengthChange': false,
            buttons: [
                'copy', 'csv', 'excel'
            ],
            "pageLength": 50,
            "initComplete": function (settings, json) {
                $('.dataTables_scrollBody thead tr').css({ 'visibility': 'hidden' });
            },
            columns: [
                { "data": "ID", "orderable": true },
                { "data": "SiteCode", "orderable": true },
                { "data": "FK_PM_ID", "orderable": true },
                { "data": "DG_Type", "orderable": true },
                { "data": "Rating", "orderable": true },
                { "data": "Grounding_Status", "orderable": true },
                { "data": "Major_Overhauling_Required", "orderable": true },
                { "data": "Hour_Meter_Reading", "orderable": true },
                { "data": "Last_PM_Date", "orderable": true },
                { "data": "DG_Pad_Cleaning", "orderable": true },
                { "data": "DG_Radiator", "orderable": true },
                { "data": "DG_Oil", "orderable": true },
                { "data": "Oil_Filter_Changed", "orderable": true },
                { "data": "DG_Fuel_Filter_Changed", "orderable": true },
                { "data": "DG_Air_Filter_Changed", "orderable": true },
                { "data": "DG_Coolant_Used", "orderable": true },
                { "data": "DG_Battery_Status", "orderable": true },
                { "data": "DG_Static_Charger", "orderable": true },
                { "data": "ATSPanel_DG_Auto_Mode", "orderable": true },
                { "data": "ATSPanel_Surge_Protection_Device", "orderable": true },
                { "data": "ATSPanel_DG_Auto_ModeUVT", "orderable": true },
                { "data": "ATSPanel_AC_Distribution_Board", "orderable": true },
                { "data": "Load_AMP_Red_Value", "orderable": true },
                { "data": "Load_AMP_Yellow_Value", "orderable": true },
                { "data": "Load_AMP_Blue_Value", "orderable": true },
                { "data": "Safeties_High_Temperature", "orderable": true },
                { "data": "Safeties_Oil_Pressure", "orderable": true },
                { "data": "IsApproved", "orderable": true },
                { "data": "IsActive", "orderable": true },
                { "data": "Created_Date", "orderable": true },
                { "data": "Created_By", "orderable": true },

                { "data": "PM_Type", "orderable": true },

                { "data": "PM_Closed_Status", "orderable": true },

                { "data": "PM_RBU", "orderable": true },
                { "data": "PM_MBU", "orderable": true },

                { "data": "PM_Unsuccessfull_Reason", "orderable": true },

                { "data": "PM_Approval_Date", "orderable": true },
                { "data": "PM_Approved_By", "orderable": true },
                { "data": "PM_Approval_Remarks", "orderable": true },

                { "data": "PM_Vendor_ClosedStatus", "orderable": true },
                { "data": "PM_Vendor_Comments", "orderable": true },

                { "data": "PM_MBU_ClosedStatus", "orderable": true },
                { "data": "PM_MBU_Comments", "orderable": true }

             
                
               
                
                
                   //{
                   //    "targets": -1,
                   //    "data": null,
                   //    render: function (data, type, row) {
                   //        return '<button onclick="getPM(\'' + row.SiteCode + '\',\'' + row.Type + '\',\'' + row.ID + '\')" class="btn btn-primary">View</button>';
                   //    }

                   //},
                   // {
                   //     "targets": -1,
                   //     "data": null,
                   //     render: function (data, type, row) {
                   //         return '<button onclick="ExportPM(\'' + row.SiteCode + '\',\'' + row.Type + '\',\'' + row.ID + '\')" class="btn btn-primary">Export</button>';
                   //     }

                   // }


            ],

        });
    });

    function getPM(sitecode, type, PM_ID) {
        debugger;
        $('#formDiv').html('');
        var form = document.createElement("form");
        form.setAttribute("method", 'POST');
        if (type == 'Telco') {
            form.setAttribute("action", '/Reports/ViewTelcoPMDetails');
        }
        else {
            form.setAttribute("action", '/Reports/ViewNoNTelcoPMDetails');
        }
        form.setAttribute("target", '_blank');

        var hiddenFieldSiteCode = document.createElement("input");
        hiddenFieldSiteCode.setAttribute("type", "hidden");
        hiddenFieldSiteCode.setAttribute("name", 'Site_Code');
        hiddenFieldSiteCode.setAttribute("value", sitecode);
        form.appendChild(hiddenFieldSiteCode);

        var hiddenFieldPmType = document.createElement("input");
        hiddenFieldPmType.setAttribute("type", "hidden");
        hiddenFieldPmType.setAttribute("name", 'PM_Type');
        hiddenFieldPmType.setAttribute("value", type);
        form.appendChild(hiddenFieldPmType);
        var hiddenFieldPmID = document.createElement("input");
        hiddenFieldPmID.setAttribute("type", "hidden");
        hiddenFieldPmID.setAttribute("name", 'PM_ID');
        hiddenFieldPmID.setAttribute("value", PM_ID);
        form.appendChild(hiddenFieldPmID);


        document.getElementById('formDiv').appendChild(form);
        form.submit();
    }
    function ExportPM(sitecode, type, PM_ID) {
            debugger;
            var obj = new Object();
            obj.SiteCode = sitecode;
            obj.Type = type;
            obj.PM_ID = PM_ID;
            debugger;
            ApiCallService.AjaxNative('@System.Configuration.ConfigurationManager.AppSettings["ApiPath"]', "api/Reports/ExportSinglePMCheckListDetails", obj, handleFileData, 'POST', true, null, null, 'native', 'blob');
        }
        function handleFileData(blob) {
            debugger;
            if (blob != null) {
                var link = document.createElement('a');
                link.href = window.URL.createObjectURL(blob);
                link.download = "PMReport" + new Date() + ".xlsx";
                link.click();
                return;
            }
            // Use the file data
        }

    function GetDGData() {
        debugger;
        var obj = new Object();

        obj.RBU = $("#dd_rbu_checklist").val()
        obj.Start_Date = $("#txt_from_date_checklist").val()
        obj.End_Date = $("#txt_to_date_checklist").val()
        obj.SiteCode = $("#dd_site_code_checklist").val()
        obj.Status = $("#dd_status_checklist").val()
        obj.Closed_Status = $("#dd_closed_status_checklist").val()
        obj.MBU = $("#dd_mbu_checklist").val()
        obj.Region = $("#dd_region_checklist").val()
        obj.OSV = $("#dd_osv_checklist").val()
        obj.Approval_Remarks = $("#dd_approve_status").val()
        obj.Auditor_Rejection_Status = $("#dd_rejection_status_auditor").val()
        obj.ReOpened = $("#dd_reopened").val()
        ApiCallService.Ajax('@System.Configuration.ConfigurationManager.AppSettings["ApiPath"]', "api/Reports/GetDgReport", obj, OnSuccessGetPMData)
    }
    function OnSuccessGetPMData(results) {
        debugger;
        tbl_ReportsGrid_checklist.clear().draw();
        $.each(results, function (i, item) {
            debugger;
            tbl_ReportsGrid_checklist.row.add(results[i]);
        });
        tbl_ReportsGrid_checklist.draw();
    }
    function GetSiteFilters() {
        debugger;
        ApiCallService.Ajax('@System.Configuration.ConfigurationManager.AppSettings["ApiPath"]', "api/Reports/GetSiteFilters", "", OnSuccessGetSiteFilters, 'GET')
    }
    var data;
    function OnSuccessGetSiteFilters(results) {
        debugger;
        data = results;
        if (data != null) {
            if (data.ListSiteCode) {
                $('#dd_site_code_checklist').select2({
                    data: data.ListSiteCode,
                    placeholder: "ALL",
                    allowClear: true
                });
            }
            if (data.ListRBU) {
                $('#dd_rbu_checklist').select2({
                    data: data.ListRBU,
                    placeholder: "ALL",
                    allowClear: true
                });
            }
            if (data.ListMBU) {
                $('#dd_mbu_checklist').select2({
                    data: data.ListMBU,
                    placeholder: "ALL",
                    allowClear: true
                });
            }
            if (data.ListRegion) {
                $('#dd_region_checklist').select2({
                    data: data.ListRegion,
                    placeholder: "ALL",
                    allowClear: true
                });
            }
            if (data.ListOSV) {
                $('#dd_osv_checklist').select2({
                    data: data.ListOSV,
                    placeholder: "ALL",
                    allowClear: true
                });
            }
            $('#dd_status_checklist').select2({

                placeholder: "ALL",
                allowClear: true
            });
            $('#dd_closed_status_checklist').select2({

                placeholder: "ALL",
                allowClear: true
            });
            $('#dd_approve_status').select2({

                placeholder: "ALL",
                allowClear: true
            });
            $('#dd_rejection_status_auditor').select2({

                placeholder: "ALL",
                allowClear: true
            });
            $('#dd_reopened').select2({

                placeholder: "ALL",
                allowClear: true
            });
        }
    }

</script>

<div class="main">
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="admin_box">

                <div class="row">
                    <div class="col-md-1 col-sm-3 col-xs-6">
                        <div class="form-inline form-group mylabelstyle">
                            <label> Site Code</label>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-6">
                        <div class="form-group">
                            <select class="form-control mydropdown" id="dd_site_code_checklist">
                                <option value="" disabled selected hidden>Select ..</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-3 col-xs-6">
                        <div class="form-inline form-group mylabelstyle">
                            <label> Status</label>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-6">
                        <div class="form-group">
                            <select class="form-control mydropdown" id="dd_status_checklist">
                                <option></option>
                                <option>Open</option>
                                <option>Closed</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-1 col-sm-3 col-xs-6">
                        <div class="form-inline form-group mylabelstyle">
                            <label> From </label>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-6">
                        <div class="form-group myinput">
                            <input id="txt_from_date_checklist" type="text" class="form-control date-pick">
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-3 col-xs-6">
                        <div class="form-inline form-group mylabelstyle">
                            <label> To </label>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-6">
                        <div class="form-group myinput">
                            <input id="txt_to_date_checklist" type="text" class="form-control date-pick">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 col-sm-3 col-xs-6">
                        <div class="form-inline form-group mylabelstyle">
                            <label> RBU</label>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-3 col-xs-6">
                        <div class="form-group">
                            <select class="form-control mydropdown" id="dd_rbu_checklist">
                                <option value="" disabled selected hidden>Select ..</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-1 col-sm-3 col-xs-6">
                        <div class="form-inline form-group mylabelstyle">
                            <label> MBU</label>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-6">
                        <div class="form-group">
                            <select class="form-control mydropdown" id="dd_mbu_checklist">
                                <option value="" disabled selected hidden>Select ..</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 col-sm-3 col-xs-6">
                        <div class="form-inline form-group mylabelstyle">
                            <label>Commercial Region</label>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-3 col-xs-6">
                        <div class="form-group">
                            <select class="form-control mydropdown" id="dd_region_checklist">
                                <option value="" disabled selected hidden>Select ..</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-3 col-xs-6">
                        <div class="form-inline form-group mylabelstyle">
                            <label> OSV</label>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-6">
                        <div class="form-group">
                            <select class="form-control mydropdown" id="dd_osv_checklist">
                                <option value="" disabled selected hidden>Select ..</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 col-sm-3 col-xs-6">
                        <div class="form-inline form-group mylabelstyle">
                            <label>Closed Status</label>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-3 col-xs-6">
                        <div class="form-group">
                            <select class="form-control mydropdown" id="dd_closed_status_checklist">
                                <option></option>
                                <option>Success</option>
                                <option>Failed</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-1 col-sm-3 col-xs-6">
                        <div class="form-inline form-group mylabelstyle">
                            <label>Approve Status</label>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-3 col-xs-6">
                        <div class="form-group">
                            <select class="form-control mydropdown" id="dd_approve_status">
                                <option></option>
                                <option>Approved</option>
                                <option>Rejected</option>
                                <option>Pending</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 col-sm-3 col-xs-6">
                        <div class="form-inline form-group mylabelstyle">
                            <label>Auditor Status</label>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-6">
                        <div class="form-group">
                            <select class="form-control mydropdown" id="dd_rejection_status_auditor">
                                <option></option>
                                <option>Rejected</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-3 col-xs-6">
                        <div class="form-inline form-group mylabelstyle">
                            <label>ReOpened</label>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-6">
                        <div class="form-group">
                            <select class="form-control mydropdown" id="dd_reopened">
                                <option></option>
                                <option>True</option>
                                <option>False</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-3 col-xs-6 pull-right">
                        <button id="get_details_checklist" onclick="GetDGData()" name="get_details_checklist" class="btn btn-primary mybutton">Get Details</button>

                    </div>
                    @*<div class="col-md-2 col-sm-3 col-xs-6 pull-right">
                            <button id="btn_export_checklist " onclick="ExportData()" name="btn_export_checklist " class="btn btn-primary mybutton">Export</button>

                        </div>*@
                </div>
            </div>


            <div class="admin_box">
                <div class="row">
                    <table id="reportsgridview_checklist" class="display">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>SiteCode</th>
                                <th>FK_PM_ID</th>
                                <th>DG_Type</th>
                                <th>Rating</th>
                                <th>Grounding_Status</th>
                                <th>Major_Overhauling_Required</th>
                                <th>Hour_Meter_Reading</th>
                                <th>Last_PM_Date</th>
                                <th>DG_Pad_Cleaning</th>
                                <th>DG_Radiator</th>
                                <th>DG_Oil</th>
                                <th>Oil_Filter_Changed</th>
                                <th>DG_Fuel_Filter_Changed</th>
                                <th>DG_Air_Filter_Changed</th>
                                <th>DG_Coolant_Used</th>
                                <th>DG_Battery_Status</th>
                                <th>DG_Static_Charger</th>
                                <th>ATSPanel_DG_Auto_Mode</th>
                                <th>ATSPanel_Surge_Protection_Device</th>
                                <th>ATSPanel_DG_Auto_ModeUVT</th>
                                <th>ATSPanel_AC_Distribution_Board</th>
                                <th>Load_AMP_Red_Value</th>
                                <th>Load_AMP_Yellow_Value</th>
                                <th>Load_AMP_Blue_Value</th>
                                <th>Safeties_High_Temperature</th>
                                <th>Safeties_Oil_Pressure</th>
                                <th>IsApproved</th>
                                <th>IsActive</th>
                                <th>Created_Date</th>
                                <th>Created_By</th>



                                <th>PM_Type</th>

                                <th>PM_Closed_Status</th>

                                <th>PM_RBU</th>
                                <th>PM_MBU</th>

                                <th>PM_Unsuccessfull_Reason</th>

                                <th>PM_Approval_Date</th>
                                <th>PM_Approved_By</th>
                                <th>PM_Approval_Remarks</th>

                                <th>PM_Vendor_ClosedStatus</th>
                                <th>PM_Vendor_Comments</th>
                                <th>PM_MBU_ClosedStatus</th>
                                <th>PM_MBU_Comments</th>

                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- /#page-content-wrapper -->
</div>
<div id="formDiv"></div>
