
<!-- #region Major Snags TAB -->
<!--Panel 21-->
<script type="text/javascript">

    function SaveMajorSnagsData() {
        debugger;
        var obj = new Object();
       
        obj.SiteCode = PM_Data.SiteCode;
        obj.FK_PM_ID = PM_Data.ID;
        obj.Type = PM_Data.Type;
        obj.breaker_Status = $('#dd_breaker_status_audit').val();
        obj.ATS_Dressing = $('#dd_ats_dressing_audit').val();
        obj.Genset_control_wiring = $('#dd_genset_control_wiring_audit').val();
        obj.Rectifier_Filter = $('#dd_rectifier_filter_audit').val();
        obj.Rectifier_Fan = $('#dd_rectifier_fan_audit').val();
        obj.Alarms_cable_routing = $('#dd_alarms_cable_routing_audit').val();
        obj.IF_cable_routing = $('#dd_if_cable_routing_audit').val();
        obj.Weather_proofing = $('#dd_weather_proofing_audit').val();
        obj.TN_secondary_power_cable_status = $('#dd_power_cable_status_audit').val();
        obj.ID_OD_lights = $('#dd_id_od_lights_audit').val();

        ApiCallService.Ajax('@System.Configuration.ConfigurationManager.AppSettings["ApiPath"]', "api/PreventiveMaintenance/SaveMajorSnagsAudit", obj, OnSuccessSaveMajorSnags, "POST", false)
    }

    function OnSuccessSaveMajorSnags(res) {
        debugger;
        if (res == "success") {
            alertify.alert("Success","Data has been updated successfully.");
        }
        else {
            alertify.alert("Alert","Failed.");
        }
    }


</script>

<div class="tab-pane fade in" id="pane21" role="tabpanel">
    <div class="container tab_body tab-margin tab_telco">

        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="form-inline form-group mylabelstyle">
                    <label>100 A breaker Status</label>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <select class="form-control mydropdown " id="dd_breaker_status_audit" disabled="disabled">
                        <option value="" disabled selected hidden>Select ..</option>
                        <option>OK</option>
                        <option>NOT OK</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="form-inline form-group mylabelstyle">
                    <label>ATS Dressing</label>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <select class="form-control mydropdown " id="dd_ats_dressing_audit" disabled="disabled">
                        <option value="" disabled selected hidden>Select ..</option>
                        <option>OK</option>
                        <option>NOT OK</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="form-inline form-group mylabelstyle">
                    <label>Genset control wiring</label>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <select class="form-control mydropdown " id="dd_genset_control_wiring_audit" disabled="disabled">
                        <option value="" disabled selected hidden>Select ..</option>
                        <option>OK</option>
                        <option>NOT OK</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="form-inline form-group mylabelstyle">
                    <label>Rectifier Filter</label>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <select class="form-control mydropdown " id="dd_rectifier_filter_audit" disabled="disabled">
                        <option value="" disabled selected hidden>Select ..</option>
                        <option>OK</option>
                        <option>NOT OK</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="form-inline form-group mylabelstyle">
                    <label>Rectifier Fan</label>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <select class="form-control mydropdown " id="dd_rectifier_fan_audit" disabled="disabled">
                        <option value="" disabled selected hidden>Select ..</option>
                        <option>OK</option>
                        <option>NOT OK</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="form-inline form-group mylabelstyle">
                    <label>Alarms cable routing</label>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <select class="form-control mydropdown " id="dd_alarms_cable_routing_audit" disabled="disabled">
                        <option value="" disabled selected hidden>Select ..</option>
                        <option>OK</option>
                        <option>NOT OK</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="form-inline form-group mylabelstyle">
                    <label>IF cable routing</label>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <select class="form-control mydropdown " id="dd_if_cable_routing_audit" disabled="disabled">
                        <option value="" disabled selected hidden>Select ..</option>
                        <option>OK</option>
                        <option>NOT OK</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="form-inline form-group mylabelstyle">
                    <label>Weather proofing</label>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <select class="form-control mydropdown " id="dd_weather_proofing_audit" disabled="disabled">
                        <option value="" disabled selected hidden>Select ..</option>
                        <option>OK</option>
                        <option>NOT OK</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="form-inline form-group mylabelstyle">
                    <label>TN secondary power cable status</label>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <select class="form-control mydropdown " id="dd_power_cable_status_audit" disabled="disabled">
                        <option value="" disabled selected hidden>Select ..</option>
                        <option>OK</option>
                        <option>NOT OK</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="form-inline form-group mylabelstyle">
                    <label>ID / OD lights</label>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <select class="form-control mydropdown " id="dd_id_od_lights_audit" disabled="disabled">
                        <option value="" disabled selected hidden>Select ..</option>
                        <option>OK</option>
                        <option>NOT OK</option>
                    </select>
                </div>
            </div>
        </div>



        @*<button id="save_majorsnags" name="save_majorsnags" onclick="SaveMajorSnagsData()" class="btn btn-primary mybutton">Save</button>*@
    </div>
</div>


<!--/.Panel 21-->
<!-- #endregion -->
