
<script>
</script>


<div class="tab-pane fade in" id="panel31" role="tabpanel">
    <div class="container tab_body tab-margin tab_inventory">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="form-inline form-group mylabelstyle">
                    <label> No. Of Antennas</label>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="myinput form-group">
                    <input id="txt_Number_Of_Antennas" type="text" class="form-control " disabled="disabled">
                </div>
            </div>
          
            <div class="col-md-3 col-sm-3">
                <div class="form-inline form-group mylabelstyle">
                    <label> Serving Technology</label>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="form-group">
                    <select class="form-control mydropdown requiredinput" id="dd_Serving_Technology" disabled="disabled">
                        <option value="" disabled selected hidden>Select ..</option>
                        <option>2G</option>
                        <option>3G</option>
                        <option>4G</option>
                        <option>2G+3G</option>
                        <option>2G+4G</option>
                        <option>3G+4G</option>
                        <option>2G+3G+4G</option>
                    </select>
                </div>
            </div>
        </div>
       
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="form-inline form-group mylabelstyle">
                    <label> Antenna Brand</label>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="myinput form-group">
                    <input id="txt_Antenna_Brand" type="text" class="form-control " disabled="disabled">
                </div>
            </div>
           
            <div class="col-md-3 col-sm-3">
                <div class="form-inline form-group mylabelstyle">
                    <label> Antenna Type</label>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="form-group">
                    <select class="form-control mydropdown requiredinput" id="dd_Antenna_Type" disabled="disabled">
                        <option value="" disabled selected hidden>Select ..</option>
                        <option>SINGLE BAND</option>
                        <option>DUAL BAND</option>
                        <option>TRI BAND</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="form-inline form-group mylabelstyle">
                    <label> Antenna High</label>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="myinput form-group">
                    <input id="txt_Antenna_High" type="text" class="form-control " disabled="disabled">
                </div>
            </div>

            <div class="col-md-3 col-sm-3">
                <div class="form-inline form-group mylabelstyle">
                    <label> Antenna ports</label>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="form-group">
                    <select class="form-control mydropdown requiredinput" id="dd_Antenna_ports" disabled="disabled">
                        <option value="" disabled selected hidden>Select ..</option>
                        <option>2</option>
                        <option>4</option>
                        <option>6</option>
                        <option>8</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="form-inline form-group mylabelstyle">
                    <label> Antenna Electrical tilt 900</label>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="myinput form-group">
                    <input id="txt_Antenna_Electrical_tilt_900" type="text" class="form-control " disabled="disabled">
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="form-inline form-group mylabelstyle">
                    <label> Antenna Electrical tilt 1800</label>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="myinput form-group">
                    <input id="txt_Antenna_Electrical_tilt_1800" type="text" class="form-control " disabled="disabled">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="form-inline form-group mylabelstyle">
                    <label> Mechanical Assembly</label>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
               
                    <div class="form-group">
                        <select class="form-control mydropdown requiredinput" id="dd_Mechanical_Assembly" disabled="disabled">
                            <option value="" disabled selected hidden>Select ..</option>
                            <option>INSTALLED</option>
                            <option>NOT INSTALLED</option>
                        </select>
                    </div>
                </div>
            <div class="col-md-3 col-sm-3">
                <div class="form-inline form-group mylabelstyle">
                    <label> Azimuth</label>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="myinput form-group">
                    <input id="txt_Azimuth" type="text" class="form-control " disabled="disabled">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="form-inline form-group mylabelstyle">
                    <label> RET Status</label>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="form-group">
                    <select class="form-control mydropdown requiredinput" id="dd_RET_Status" disabled="disabled">
                        <option value="" disabled selected hidden>Select ..</option>
                        <option>OK</option>
                        <option>NOT OK</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="form-inline form-group mylabelstyle">
                    <label> Number of DBC</label>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="myinput form-group">
                    <input id="txt_Number_of_DBC" type="text" class="form-control " disabled="disabled">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="form-inline form-group mylabelstyle">
                    <label> Number of Fibers</label>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="myinput form-group">
                    <input id="txt_Number_of_Fibers" type="text" class="form-control " disabled="disabled">
                </div>
            </div>
           
        </div>
      
    </div>
</div>


